{% extends "base.html" %}

{% block title %}Sobre Nosotros - Veterinaria a Domicilio{% endblock %}

{% block content %}
<section class="section" style="margin-top: 76px;">
    <div class="container">
        <h1 class="section-title">Sobre Nosotros</h1>
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <div class="card">
                    <div class="card-body p-5">
                        <h3>Veterinaria profesional a domicilio</h3>
                        <p>Somos un equipo de veterinarios colegiados especializados en atención domiciliaria.</p>
                        <h4>Nuestros Valores</h4>
                        <ul>
                            <li>Trato amable y profesional</li>
                            <li>Reducción del estrés de las mascotas</li>
                            <li>Enfoque Fear Free</li>
                            <li>Atención personalizada</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}